In [1]:
!pip3 install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.2-cp312-cp312-macosx_14_0_arm64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/federicocirett/Documents/Master/IngenieriaCaracteristicas/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/federicocirett/Documents/Master/IngenieriaCaracteristicas/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl (11.4 MB)
Downloading numpy-2.1.2-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 5.2 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
import os
import pandas as pd
import re

work_directory="/Users/federicocirett/Documents/Master/IngenieriaCaracteristicas/{{ cookiecutter.project_slug }}/Data/raw/DATOS EDUCACION"
os.chdir(work_directory)

# Censos de Población y Vivienda

In [4]:
CENSOS_DE_POBLACION_Y_VIVIENDA_PATH="./CENSOS DE POBLACION Y VIVIENDA"
work_directory=CENSOS_DE_POBLACION_Y_VIVIENDA_PATH

In [5]:
dataframes=[]
diccionarios_de_datos=[]
for item in os.listdir(work_directory):
    item_path=f"{work_directory}/{item}"
    if os.path.isdir(item_path):
        file_name=os.listdir(f"{item_path}/conjunto_de_datos")[0]
        file_path=f"{item_path}/conjunto_de_datos/{file_name}"
        df=pd.read_csv(file_path)
        
        pattern = r"^diccionario.*datos$"
        for subitem in os.listdir(item_path):
            match = re.search(pattern,subitem)
            if match:
                dictionary_name=match.group()

        data_dictionary_path=f"{item_path}/{dictionary_name}/{os.listdir(f"{item_path}/{dictionary_name}")[0]}"
        dictionary_df=pd.read_csv(data_dictionary_path,encoding='ISO-8859-1')
        diccionarios_de_datos.append(dictionary_df)

    else:
        file_path=item_path
        df=pd.read_excel(file_path)
    
    dataframes.append(df)
    print(f"Datos del archivo {item} se cargó a la lista 'dataframes' ")

Datos del archivo cpv2005_iter_00 se cargó a la lista 'dataframes'
Datos del archivo cpyv80_nal_educacion.xlsx se cargó a la lista 'dataframes'

/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/253124960.py:8: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(file_path)

Datos del archivo iter_00_cpv2020 se cargó a la lista 'dataframes'
Datos del archivo cgp50_nal_educacion.xlsx se cargó a la lista 'dataframes'
Datos del archivo iter_00_cpv2010 se cargó a la lista 'dataframes'
Datos del archivo CGP60_nal_Educacion.xlsx se cargó a la lista 'dataframes'
Datos del archivo cgp70_nal_educacion.xlsx se cargó a la lista 'dataframes'
Datos del archivo CPyV90_Nal_Caracteristicas_educativas.xlsx se cargó a la lista 'dataframes'
Datos del archivo Cont95Enum_NAL_Caracteristicas_educativas.xlsx se cargó a la lista 'dataframes'

/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/253124960.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(file_path)

Datos del archivo cgpv2000_iter_00 se cargó a la lista 'dataframes'

In [12]:
len(dataframes)

10

### 1950

In [67]:
df=dataframes[3]

total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

33.3333% de los registros en Unnamed: 0 son nulos
33.3333% de los registros en Séptimo Censo General de Población 1950. Tabulados básicos son nulos
50.0% de los registros en Unnamed: 2 son nulos

### 1960

In [68]:
df=dataframes[5]

total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

28.5714% de los registros en Unnamed: 0 son nulos
28.5714% de los registros en VIII Censo General de Población 1960 son nulos
42.8571% de los registros en Unnamed: 2 son nulos

### 1970

In [69]:
df=dataframes[6]

total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

7.6923% de los registros en Unnamed: 0 son nulos
7.6923% de los registros en Unnamed: 2 son nulos

### 1980

In [66]:
df=dataframes[1]

total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

8.3333% de los registros en Unnamed: 0 son nulos
8.3333% de los registros en Unnamed: 2 son nulos

### 1990

In [70]:
df=dataframes[7]

total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

10.0% de los registros en Unnamed: 0 son nulos

### 1995

In [71]:
df=dataframes[8]

total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

10.0% de los registros en Unnamed: 0 son nulos

### 2000

In [58]:
df=dataframes[9]
df.head(5)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,...,vp_lavad,vp_telef,vp_boiler,vp_autom,tothog,hogjefm,hogjeff,pobhog,phogjefm,phogjeff
0,0,Total nacional,0,Total nacional,0,TOTAL NACIONAL,NaN,NaN,NaN,97483412,...,11179107,7791935,9048966,6992055,22268916,17671681,4597235,95380242,78910074,16470168
1,0,Total nacional,0,Total nacional,9999,LOCALIDADES DE DOS VIVIENDAS,NaN,NaN,NaN,212010,...,6811,3057,4821,11098,45213,40648,4565,198893,181094,17799
2,0,Total nacional,0,Total nacional,9998,LOCALIDADES DE UNA VIVIENDA,NaN,NaN,NaN,313698,...,10022,4934,7731,18443,69189,64153,5036,286721,265716,21005
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,TOTAL DE LA ENTIDAD,NaN,NaN,NaN,944285,...,151954,82009,119108,89989,208167,169445,38722,936920,794471,142449
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,LOCALIDADES DE UNA VIVIENDA,NaN,NaN,NaN,4400,...,288,89,201,315,782,715,67,4062,3701,361

#### Filtro de columnas

#### Revisión de datos nulos

In [60]:
total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

3.0581% de los registros en longitud son nulos
3.0581% de los registros en latitud son nulos
3.0581% de los registros en altitud son nulos
0.001% de los registros en gradoesco son nulos
0.001% de los registros en pro_ovp son nulos
0.001% de los registros en pro_ocvp son nulos

#### Calidad de datos

### 2005

In [6]:
df=dataframes[0]
df.head(5)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,p_total,...,vph_dren,vph_nodren,vph_enel,vph_dree,vph_nade,vph_sbie,vph_tv,vph_refr,vph_lava,vph_pc
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,0.0,103263388,...,20825049,2883591,23194511,19151432,297027,1483945,21848485,18969154,15061473,4694927
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,0.0,275182,...,29788,29886,35541,6579,16668,24620,32510,23999,14573,1655
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,0.0,179318,...,17165,21149,23332,4401,11225,16660,20403,14828,9500,1040
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1065416,...,234759,5864,238639,229429,569,2094,236330,220469,201236,61954
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3729,...,500,209,560,154,70,97,586,450,364,57

#### Filtro de columnas

In [7]:
dictionary_df=diccionarios_de_datos[0]
dictionary_df

,numero,indicador,descripcion,mnemonico,rangos,longitud
0,1,Clave de Entidad Federativa,Código que identifica a la entidad federativa.,entidad,01..32,2
1,2,Entidad Federativa,Nombre oficial de la entidad federativa.,nom_ent,Alfanumérico,50
2,3,Clave del Municipio,Código que identifica al municipio al interior...,mun,001..570,3
3,4,Municipio,Nombre oficial del municipio o delegación polí...,nom_mun,Alfanumérico,55
4,5,Clave de Localidad,"Código que identifica a la localidad, al inter...",loc,0001..9999,4
...,...,...,...,...,...,...
125,126,Viviendas particulares habitadas sin ningún bien,Viviendas particulares habitadas que no dispon...,vph_sbie,00..9999999999,10
126,127,Viviendas particulares habitadas que disponen ...,Viviendas particulares habitadas que tienen te...,vph_tv,00..9999999999,10
127,128,Viviendas particulares habitadas que disponen ...,Viviendas particulares habitadas que tienen re...,vph_refr,00..9999999999,10
128,129,Viviendas particulares habitadas que disponen ...,Viviendas particulares habitadas que tienen la...,vph_lava,00..9999999999,10
129,130,Viviendas particulares habitadas que disponen ...,Viviendas particulares habitadas que tienen co...,vph_pc,00..9999999999,10

In [19]:
dictionary_df['rangos']

0              01..32
1        Alfanumérico
2            001..570
3        Alfanumérico
4          0001..9999
            ...
125    00..9999999999
126    00..9999999999
127    00..9999999999
128    00..9999999999
129    00..9999999999
Name: rangos, Length: 130, dtype: object

In [11]:
dictionary_df[['indicador','mnemonico']]

                                             indicador mnemonico
0                          Clave de Entidad Federativa   entidad
1                                   Entidad Federativa   nom_ent
2                                  Clave del Municipio       mun
3                                            Municipio   nom_mun
4                                   Clave de Localidad       loc
..                                                 ...       ...
125   Viviendas particulares habitadas sin ningún bien  vph_sbie
126  Viviendas particulares habitadas que disponen ...    vph_tv
127  Viviendas particulares habitadas que disponen ...  vph_refr
128  Viviendas particulares habitadas que disponen ...  vph_lava
129  Viviendas particulares habitadas que disponen ...    vph_pc

[130 rows x 2 columns]

In [16]:
rename_dictionary={}
for index,row in dictionary_df.iterrows():
    old_column_name=row['mnemonico']
    new_column_name=row['indicador']
    rename_dictionary[old_column_name] = new_column_name

df=df.rename(columns=rename_dictionary)
df

,Clave de Entidad Federativa,Entidad Federativa,Clave del Municipio,Municipio,Clave de Localidad,Localidad,Longitud,Latitud,Altitud,Población total,...,Viviendas particulares habitadas que disponen de drenaje,Viviendas particulares habitadas que no disponen de drenaje,Viviendas particulares habitadas que disponen de energía eléctrica,"Viviendas particulares habitadas que disponen de agua entubada de la red pública, drenaje y energía eléctrica","Viviendas particulares habitadas que no disponen de agua entubada de la red pública, drenaje ni energía eléctrica",Viviendas particulares habitadas sin ningún bien,Viviendas particulares habitadas que disponen de televisión,Viviendas particulares habitadas que disponen de refrigerador,Viviendas particulares habitadas que disponen de lavadora,Viviendas particulares habitadas que disponen de computadora
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,0.0,103263388,...,20825049,2883591,23194511,19151432,297027,1483945,21848485,18969154,15061473,4694927
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,0.0,275182,...,29788,29886,35541,6579,16668,24620,32510,23999,14573,1655
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,0.0,179318,...,17165,21149,23332,4401,11225,16660,20403,14828,9500,1040
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1065416,...,234759,5864,238639,229429,569,2094,236330,220469,201236,61954
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3729,...,500,209,560,154,70,97,586,450,364,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194227,32,Zacatecas,58,Santa María de la Paz,40,San José,1032719.0,213102.0,1820.0,4,...,*,*,*,*,*,*,*,*,*,*
194228,32,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,1032007.0,213014.0,2000.0,89,...,18,12,30,18,0,3,27,23,17,0
194229,32,Zacatecas,58,Santa María de la Paz,42,San Rafael,1032218.0,213139.0,2040.0,5,...,*,*,*,*,*,*,*,*,*,*
194230,32,Zacatecas,58,Santa María de la Paz,9998,Localidades de una vivienda,NaN,NaN,NaN,28,...,1,7,2,1,5,7,1,0,0,0
194231,32,Zacatecas,58,Santa María de la Paz,9999,Localidades de dos viviendas,NaN,NaN,NaN,7,...,*,*,*,*,*,*,*,*,*,*

In [17]:
columns=[
       'Entidad Federativa',
       'Clave del Municipio',
       'Municipio',
       'Clave de Localidad',
       'Localidad', 'Longitud', 'Latitud', 'Altitud', 
       'Población total','Población masculina', 'Población femenina',
       # Columnas relacionadas con la educacion
       'Población de 8 a 14 años que no sabe leer y escribir',
       'Población masculina de 8 a 14 años que no sabe leer y escribir',
       'Población femenina de 8 a 14 años que no sabe leer y escribir',
       'Población de 15 años y más analfabeta',
       'Población masculina de 15 años y más analfabeta',
       'Población femenina de 15 años y más analfabeta',
       'Población de 5 años que no asiste a la escuela',
       'Población masculina de 5 años que no asiste a la escuela',
       'Población femenina de 5 años que no asiste a la escuela',
       'Población de 6 a 11 años que no asiste a la escuela',
       'Población de 6 a 14 años que no asiste a la escuela',
       'Población masculina de 6 a 14 años que no asiste a la escuela',
       'Población femenina de 6 a 14 años que no asiste a la escuela',
       'Población de 12 a 14 años que no asiste a la escuela',
       'Población de 15 a 24 años que asiste a la escuela',
       'Población masculina de 15 a 24 años que asiste a la escuela',
       'Población femenina de 15 a 24 años que asiste a la escuela',
       'Población de 15 años y más sin escolaridad',
       'Población masculina de 15 años y más sin escolaridad',
       'Población femenina de 15 años y más sin escolaridad',
       'Población de 15 años y más con educación básica incompleta',
       'Población masculina de 15 años y más con educación básica incompleta',
       'Población femenina de 15 años y más con educación básica incompleta',
       'Población de 15 años y más con educación básica completa',
       'Población masculina de 15 años y más con educación básica completa',
       'Población femenina de 15 años y más con educación básica completa',
       'Población de 15 años y más con educación posbásica',
       'Población masculina de 15 años y más con educación posbásica',
       'Población femenina de 15 años y más con educación posbásica',
       'Grado promedio de escolaridad',
       'Grado promedio de escolaridad de la población masculina',
       'Grado promedio de escolaridad de la población femenina',
         ]

In [18]:
df=df[columns]
df

,Entidad Federativa,Clave del Municipio,Municipio,Clave de Localidad,Localidad,Longitud,Latitud,Altitud,Población total,Población masculina,...,Población femenina de 15 años y más con educación básica incompleta,Población de 15 años y más con educación básica completa,Población masculina de 15 años y más con educación básica completa,Población femenina de 15 años y más con educación básica completa,Población de 15 años y más con educación posbásica,Población masculina de 15 años y más con educación posbásica,Población femenina de 15 años y más con educación posbásica,Grado promedio de escolaridad,Grado promedio de escolaridad de la población masculina,Grado promedio de escolaridad de la población femenina
0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,0.0,103263388,50249955,...,13418938,14533348,7179086,7354262,22063108,10900960,11162148,8.14,8.37,7.93
1,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,0.0,275182,159663,...,40959,25287,15889,9398,19344,12098,7246,4.98,5.11,4.79
2,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,0.0,179318,97802,...,28161,15411,8980,6431,11006,6639,4367,4.81,4.98,4.60
3,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1065416,515364,...,136707,161719,77324,84395,234587,113444,121143,8.70,8.84,8.58
4,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3729,2062,...,557,445,260,185,419,247,172,6.16,6.16,6.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194227,Zacatecas,58,Santa María de la Paz,40,San José,1032719.0,213102.0,1820.0,4,*,...,*,*,*,*,*,*,*,*,*,*
194228,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,1032007.0,213014.0,2000.0,89,46,...,20,20,8,12,5,3,2,5.62,5.49,5.76
194229,Zacatecas,58,Santa María de la Paz,42,San Rafael,1032218.0,213139.0,2040.0,5,*,...,*,*,*,*,*,*,*,*,*,*
194230,Zacatecas,58,Santa María de la Paz,9998,Localidades de una vivienda,NaN,NaN,NaN,28,14,...,5,6,1,5,2,1,1,5.12,4.64,5.50
194231,Zacatecas,58,Santa María de la Paz,9999,Localidades de dos viviendas,NaN,NaN,NaN,7,*,...,*,*,*,*,*,*,*,*,*,*

#### Revisión de datos nulos

In [59]:
total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

3.0581% de los registros en longitud son nulos
3.0581% de los registros en latitud son nulos
3.0581% de los registros en altitud son nulos
0.001% de los registros en gradoesco son nulos
0.001% de los registros en pro_ovp son nulos
0.001% de los registros en pro_ocvp son nulos

#### Calidad de datos

In [ ]:
df['']

In [26]:
# Primero hacemos un diccionario que contiene el formato en la que conviene guardar cada columna

formats={}
string_columns=[
       'Entidad Federativa',
       'Clave del Municipio',
       'Municipio',
       'Clave de Localidad',
       'Localidad',
]
float_columns=[
    'Longitud', 'Latitud', 'Altitud',
    'Grado promedio de escolaridad',
    'Grado promedio de escolaridad de la población masculina',
    'Grado promedio de escolaridad de la población femenina',

]

integer_columns=[
       'Población total','Población masculina', 'Población femenina',
       'Población de 8 a 14 años que no sabe leer y escribir',
       'Población masculina de 8 a 14 años que no sabe leer y escribir',
       'Población femenina de 8 a 14 años que no sabe leer y escribir',
       'Población de 15 años y más analfabeta',
       'Población masculina de 15 años y más analfabeta',
       'Población femenina de 15 años y más analfabeta',
       'Población de 5 años que no asiste a la escuela',
       'Población masculina de 5 años que no asiste a la escuela',
       'Población femenina de 5 años que no asiste a la escuela',
       'Población de 6 a 11 años que no asiste a la escuela',
       'Población de 6 a 14 años que no asiste a la escuela',
       'Población masculina de 6 a 14 años que no asiste a la escuela',
       'Población femenina de 6 a 14 años que no asiste a la escuela',
       'Población de 12 a 14 años que no asiste a la escuela',
       'Población de 15 a 24 años que asiste a la escuela',
       'Población masculina de 15 a 24 años que asiste a la escuela',
       'Población femenina de 15 a 24 años que asiste a la escuela',
       'Población de 15 años y más sin escolaridad',
       'Población masculina de 15 años y más sin escolaridad',
       'Población femenina de 15 años y más sin escolaridad',
       'Población de 15 años y más con educación básica incompleta',
       'Población masculina de 15 años y más con educación básica incompleta',
       'Población femenina de 15 años y más con educación básica incompleta',
       'Población de 15 años y más con educación básica completa',
       'Población masculina de 15 años y más con educación básica completa',
       'Población femenina de 15 años y más con educación básica completa',
       'Población de 15 años y más con educación posbásica',
       'Población masculina de 15 años y más con educación posbásica',
       'Población femenina de 15 años y más con educación posbásica',
    
]

for string_column in string_columns:
    formats[string_column]='str'

for float_column in float_columns:
    formats[float_column]='float'

for integer_column in integer_columns:
       formats[integer_column]='float'

error_columns=[]
for column,format_type in formats.items():
    try:
        df[column] = df[column].astype(format_type)
        print(f"Columna {column} formateada a {format_type}")
    except ValueError as e:
        error_columns.append([column,e])  # Store the column name
        print(f"Error al formatear la columna '{column}' a '{format_type}': {e}")
 
df

/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_14483/2820387477.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(format_type)

Columna Entidad Federativa formateada a str
Columna Clave del Municipio formateada a str
Columna Municipio formateada a str
Columna Clave de Localidad formateada a str
Columna Localidad formateada a str
Columna Longitud formateada a float
Columna Latitud formateada a float
Columna Altitud formateada a float
Error al formatear la columna 'Grado promedio de escolaridad' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Grado promedio de escolaridad de la población masculina' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Grado promedio de escolaridad de la población femenina' a 'float': could not convert string to float: '*'
Columna Población total formateada a float
Error al formatear la columna 'Población masculina' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 8 a 14 años que no sabe leer y escribir' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 8 a 14 años que no sabe leer y escribir' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 8 a 14 años que no sabe leer y escribir' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 15 años y más analfabeta' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 15 años y más analfabeta' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 15 años y más analfabeta' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 5 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 5 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 5 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 6 a 11 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 6 a 14 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 6 a 14 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 6 a 14 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 12 a 14 años que no asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 15 a 24 años que asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 15 a 24 años que asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 15 a 24 años que asiste a la escuela' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 15 años y más sin escolaridad' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 15 años y más sin escolaridad' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 15 años y más sin escolaridad' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 15 años y más con educación básica incompleta' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 15 años y más con educación básica incompleta' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 15 años y más con educación básica incompleta' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 15 años y más con educación básica completa' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 15 años y más con educación básica completa' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 15 años y más con educación básica completa' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población de 15 años y más con educación posbásica' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población masculina de 15 años y más con educación posbásica' a 'float': could not convert string to float: '*'
Error al formatear la columna 'Población femenina de 15 años y más con educación posbásica' a 'float': could not convert string to float: '*'

,Entidad Federativa,Clave del Municipio,Municipio,Clave de Localidad,Localidad,Longitud,Latitud,Altitud,Población total,Población masculina,...,Población femenina de 15 años y más con educación básica incompleta,Población de 15 años y más con educación básica completa,Población masculina de 15 años y más con educación básica completa,Población femenina de 15 años y más con educación básica completa,Población de 15 años y más con educación posbásica,Población masculina de 15 años y más con educación posbásica,Población femenina de 15 años y más con educación posbásica,Grado promedio de escolaridad,Grado promedio de escolaridad de la población masculina,Grado promedio de escolaridad de la población femenina
0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,0.0,103263388.0,50249955,...,13418938,14533348,7179086,7354262,22063108,10900960,11162148,8.14,8.37,7.93
1,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,0.0,275182.0,159663,...,40959,25287,15889,9398,19344,12098,7246,4.98,5.11,4.79
2,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,0.0,179318.0,97802,...,28161,15411,8980,6431,11006,6639,4367,4.81,4.98,4.60
3,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1065416.0,515364,...,136707,161719,77324,84395,234587,113444,121143,8.70,8.84,8.58
4,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3729.0,2062,...,557,445,260,185,419,247,172,6.16,6.16,6.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194227,Zacatecas,58,Santa María de la Paz,40,San José,1032719.0,213102.0,1820.0,4.0,*,...,*,*,*,*,*,*,*,*,*,*
194228,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,1032007.0,213014.0,2000.0,89.0,46,...,20,20,8,12,5,3,2,5.62,5.49,5.76
194229,Zacatecas,58,Santa María de la Paz,42,San Rafael,1032218.0,213139.0,2040.0,5.0,*,...,*,*,*,*,*,*,*,*,*,*
194230,Zacatecas,58,Santa María de la Paz,9998,Localidades de una vivienda,NaN,NaN,NaN,28.0,14,...,5,6,1,5,2,1,1,5.12,4.64,5.50
194231,Zacatecas,58,Santa María de la Paz,9999,Localidades de dos viviendas,NaN,NaN,NaN,7.0,*,...,*,*,*,*,*,*,*,*,*,*

In [34]:
len(df[df[error_columns[0][0]]=='*'])/len(df)

0.4338471518596318

In [35]:
for error_column in error_columns:
    percentage=100*round(len(df[df[error_columns[0][0]]=='*'])/len(df),2)
    print(f"{percentage}% de los registros en {error_column} son '*' ")

43.0% de los registros en ['Grado promedio de escolaridad', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Grado promedio de escolaridad de la población masculina', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Grado promedio de escolaridad de la población femenina', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 8 a 14 años que no sabe leer y escribir', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 8 a 14 años que no sabe leer y escribir', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 8 a 14 años que no sabe leer y escribir', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 15 años y más analfabeta', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 15 años y más analfabeta', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 15 años y más analfabeta', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 5 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 5 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 5 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 6 a 11 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 6 a 14 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 6 a 14 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 6 a 14 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 12 a 14 años que no asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 15 a 24 años que asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 15 a 24 años que asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 15 a 24 años que asiste a la escuela', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 15 años y más sin escolaridad', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 15 años y más sin escolaridad', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 15 años y más sin escolaridad', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 15 años y más con educación básica incompleta', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 15 años y más con educación básica incompleta', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 15 años y más con educación básica incompleta', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 15 años y más con educación básica completa', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 15 años y más con educación básica completa', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 15 años y más con educación básica completa', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población de 15 años y más con educación posbásica', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población masculina de 15 años y más con educación posbásica', ValueError("could not convert string to float: '*'")] son '*'
43.0% de los registros en ['Población femenina de 15 años y más con educación posbásica', ValueError("could not convert string to float: '*'")] son '*'

In [37]:
for error_column in error_columns:
    df=df[~(df[error_column[0]]=='*')]
df

,Entidad Federativa,Clave del Municipio,Municipio,Clave de Localidad,Localidad,Longitud,Latitud,Altitud,Población total,Población masculina,...,Población femenina de 15 años y más con educación básica incompleta,Población de 15 años y más con educación básica completa,Población masculina de 15 años y más con educación básica completa,Población femenina de 15 años y más con educación básica completa,Población de 15 años y más con educación posbásica,Población masculina de 15 años y más con educación posbásica,Población femenina de 15 años y más con educación posbásica,Grado promedio de escolaridad,Grado promedio de escolaridad de la población masculina,Grado promedio de escolaridad de la población femenina
0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,0.0,103263388.0,50249955,...,13418938,14533348,7179086,7354262,22063108,10900960,11162148,8.14,8.37,7.93
1,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,0.0,275182.0,159663,...,40959,25287,15889,9398,19344,12098,7246,4.98,5.11,4.79
2,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,0.0,179318.0,97802,...,28161,15411,8980,6431,11006,6639,4367,4.81,4.98,4.60
3,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1065416.0,515364,...,136707,161719,77324,84395,234587,113444,121143,8.70,8.84,8.58
4,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3729.0,2062,...,557,445,260,185,419,247,172,6.16,6.16,6.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194224,Zacatecas,58,Santa María de la Paz,33,Los Horcones,1031604.0,212958.0,2100.0,30.0,17,...,8,0,0,0,0,0,0,3.62,3.55,3.70
194225,Zacatecas,58,Santa María de la Paz,35,Los Trigos (Mesa de los Trigos),1031355.0,212946.0,2500.0,116.0,62,...,26,19,12,7,3,1,2,5.53,5.69,5.34
194226,Zacatecas,58,Santa María de la Paz,37,Mesa Grande,1032458.0,213304.0,1940.0,179.0,84,...,34,23,7,16,7,3,4,5.26,4.98,5.49
194228,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,1032007.0,213014.0,2000.0,89.0,46,...,20,20,8,12,5,3,2,5.62,5.49,5.76
194230,Zacatecas,58,Santa María de la Paz,9998,Localidades de una vivienda,NaN,NaN,NaN,28.0,14,...,5,6,1,5,2,1,1,5.12,4.64,5.50

In [40]:
error_columns=[]
for column,format_type in formats.items():
    try:
        df[column] = df[column].astype(format_type)
        print(f"Columna {column} formateada a {format_type}")
    except ValueError as e:
        error_columns.append([column,e])  # Store the column name
        print(f"Error al formatear la columna '{column}' a '{format_type}': {e}")
 
df

Columna Entidad Federativa formateada a str
Columna Clave del Municipio formateada a str
Columna Municipio formateada a str
Columna Clave de Localidad formateada a str
Columna Localidad formateada a str
Columna Longitud formateada a float
Columna Latitud formateada a float
Columna Altitud formateada a float
Columna Grado promedio de escolaridad formateada a float
Columna Grado promedio de escolaridad de la población masculina formateada a float
Columna Grado promedio de escolaridad de la población femenina formateada a float
Columna Población total formateada a float
Columna Población masculina formateada a float
Columna Población femenina formateada a float
Columna Población de 8 a 14 años que no sabe leer y escribir formateada a float
Columna Población masculina de 8 a 14 años que no sabe leer y escribir formateada a float
Columna Población femenina de 8 a 14 años que no sabe leer y escribir formateada a float
Columna Población de 15 años y más analfabeta formateada a float
Columna Población masculina de 15 años y más analfabeta formateada a float
Columna Población femenina de 15 años y más analfabeta formateada a float
Columna Población de 5 años que no asiste a la escuela formateada a float
Columna Población masculina de 5 años que no asiste a la escuela formateada a float
Columna Población femenina de 5 años que no asiste a la escuela formateada a float
Columna Población de 6 a 11 años que no asiste a la escuela formateada a float
Columna Población de 6 a 14 años que no asiste a la escuela formateada a float
Columna Población masculina de 6 a 14 años que no asiste a la escuela formateada a float
Columna Población femenina de 6 a 14 años que no asiste a la escuela formateada a float
Columna Población de 12 a 14 años que no asiste a la escuela formateada a float
Columna Población de 15 a 24 años que asiste a la escuela formateada a float
Columna Población masculina de 15 a 24 años que asiste a la escuela formateada a float
Columna Población femenina de 15 a 24 años que asiste a la escuela formateada a float
Columna Población de 15 años y más sin escolaridad formateada a float
Columna Población masculina de 15 años y más sin escolaridad formateada a float
Columna Población femenina de 15 años y más sin escolaridad formateada a float
Columna Población de 15 años y más con educación básica incompleta formateada a float
Columna Población masculina de 15 años y más con educación básica incompleta formateada a float
Columna Población femenina de 15 años y más con educación básica incompleta formateada a float
Columna Población de 15 años y más con educación básica completa formateada a float
Columna Población masculina de 15 años y más con educación básica completa formateada a float
Columna Población femenina de 15 años y más con educación básica completa formateada a float
Columna Población de 15 años y más con educación posbásica formateada a float
Columna Población masculina de 15 años y más con educación posbásica formateada a float
Columna Población femenina de 15 años y más con educación posbásica formateada a float

,Entidad Federativa,Clave del Municipio,Municipio,Clave de Localidad,Localidad,Longitud,Latitud,Altitud,Población total,Población masculina,...,Población femenina de 15 años y más con educación básica incompleta,Población de 15 años y más con educación básica completa,Población masculina de 15 años y más con educación básica completa,Población femenina de 15 años y más con educación básica completa,Población de 15 años y más con educación posbásica,Población masculina de 15 años y más con educación posbásica,Población femenina de 15 años y más con educación posbásica,Grado promedio de escolaridad,Grado promedio de escolaridad de la población masculina,Grado promedio de escolaridad de la población femenina
0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,0.0,103263388.0,50249955.0,...,13418938.0,14533348.0,7179086.0,7354262.0,22063108.0,10900960.0,11162148.0,8.14,8.37,7.93
1,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,0.0,275182.0,159663.0,...,40959.0,25287.0,15889.0,9398.0,19344.0,12098.0,7246.0,4.98,5.11,4.79
2,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,0.0,179318.0,97802.0,...,28161.0,15411.0,8980.0,6431.0,11006.0,6639.0,4367.0,4.81,4.98,4.60
3,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1065416.0,515364.0,...,136707.0,161719.0,77324.0,84395.0,234587.0,113444.0,121143.0,8.70,8.84,8.58
4,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3729.0,2062.0,...,557.0,445.0,260.0,185.0,419.0,247.0,172.0,6.16,6.16,6.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194224,Zacatecas,58,Santa María de la Paz,33,Los Horcones,1031604.0,212958.0,2100.0,30.0,17.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3.62,3.55,3.70
194225,Zacatecas,58,Santa María de la Paz,35,Los Trigos (Mesa de los Trigos),1031355.0,212946.0,2500.0,116.0,62.0,...,26.0,19.0,12.0,7.0,3.0,1.0,2.0,5.53,5.69,5.34
194226,Zacatecas,58,Santa María de la Paz,37,Mesa Grande,1032458.0,213304.0,1940.0,179.0,84.0,...,34.0,23.0,7.0,16.0,7.0,3.0,4.0,5.26,4.98,5.49
194228,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,1032007.0,213014.0,2000.0,89.0,46.0,...,20.0,20.0,8.0,12.0,5.0,3.0,2.0,5.62,5.49,5.76
194230,Zacatecas,58,Santa María de la Paz,9998,Localidades de una vivienda,NaN,NaN,NaN,28.0,14.0,...,5.0,6.0,1.0,5.0,2.0,1.0,1.0,5.12,4.64,5.50

In [39]:
for error_column in error_columns:
    percentage=100*round(len(df[df[error_columns[0][0]]=='*'])/len(df),2)
    if percentage!=0:
        print(f"{percentage}% de los registros en {error_column} son '*' ")

### 2010

In [61]:
df=dataframes[4]
df.head(5)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,...,vph_radio,vph_tv,vph_refri,vph_lavad,vph_autom,vph_pc,vph_telef,vph_cel,vph_inter,tam_loc
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,112336538,...,22373499,26048531,23091296,18692852,12429083,8279619,12161965,18318374,6004315,NaN
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,260087,...,43368,38574,29064,19361,27168,3435,3973,30417,1418,NaN
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,173056,...,26213,23519,17793,12413,15497,2193,2530,16841,940,NaN
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1184996,...,256790,282484,264623,238954,171795,99579,137911,208209,66075,NaN
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3395,...,658,676,537,449,477,97,48,511,36,NaN

#### Revisión de datos nulos

In [62]:
total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

3.1443% de los registros en longitud son nulos
3.1443% de los registros en latitud son nulos
3.1443% de los registros en altitud son nulos
3.1443% de los registros en tam_loc son nulos

### 2020

In [63]:
df=dataframes[2]
df.head(5)

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,126014024,...,30775898,18307193,15211306,6616141,4047100,1788552,3170894,15108204,852871,*
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,250354,...,47005,8385,18981,1732,1113,12775,14143,51293,7154,*
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,147125,...,25581,5027,11306,971,708,8247,10065,29741,5283,*
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1425607,...,359895,236003,174089,98724,70126,6021,15323,128996,1711,*
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3697,...,732,205,212,48,41,39,62,530,20,*

In [64]:
total_rows=len(df)
for column in df.columns:
    nans=0
    nans=df[column].isna().sum()
    if nans!=0:
        print(f"{round(100*nans/total_rows,4)}% de los registros en {column} son nulos")

3.1841% de los registros en LONGITUD son nulos
3.1841% de los registros en LATITUD son nulos
3.1841% de los registros en ALTITUD son nulos
0.1094% de los registros en REL_H_M son nulos
0.1078% de los registros en PROM_HNV son nulos

# Encuesta Nacional Sobre Acceso y Permanencia en la Educación 2021

In [42]:
ENCUESTA_NACIONAL_SOBRE_ACCESO_Y_PERMANENCIA_EN_LA_EDUCACION_2021_PATH="./ENCUESTA NACIONAL SOBRE ACCESO Y PERMANENCIA EN LA EDUCACION 2021"
work_directory=ENCUESTA_NACIONAL_SOBRE_ACCESO_Y_PERMANENCIA_EN_LA_EDUCACION_2021_PATH

In [43]:
dataframes=[]
diccionarios_de_datos=[]
all_catalogs=[]
for item in os.listdir(work_directory):
    item_path=f"{work_directory}/{item}"
    if os.path.isdir(item_path):

        # Catalogos
        catalogs=[]
        for catalog in os.listdir(f"{item_path}/catalogos"):
            catalog_path=f"{item_path}/catalogos/{catalog}"
            catalogs_df=pd.read_csv(catalog_path)
            catalogs.append(catalogs_df)

        # Conjunto de datos

        file_name=os.listdir(f"{item_path}/conjunto_de_datos")[0]
        file_path=f"{item_path}/conjunto_de_datos/{file_name}"
        df=pd.read_csv(file_path)

        # Diccionario de datos
        pattern = r"^diccionario.*datos$"
        for subitem in os.listdir(item_path):
            match = re.search(pattern,subitem)
            if match:
                dictionary_name=match.group()
        
        data_dictionary_path=f"{item_path}/{dictionary_name}/{os.listdir(f"{item_path}/{dictionary_name}")[0]}"
        dictionary_df=pd.read_csv(data_dictionary_path,encoding='ISO-8859-1')
        diccionarios_de_datos.append(dictionary_df)

    else:
        file_path=item_path
        df=pd.read_csv(file_path)

    all_catalogs.append(catalogs)
    dataframes.append(df)
    print(f"Datos del archivo {item} se cargó a la lista 'dataframes' ")

Datos del archivo conjunto_de_datos_tmodulo_enape_2021 se cargó a la lista 'dataframes'
Datos del archivo 0_indice_tablas_enape_2021.csv se cargó a la lista 'dataframes'
Datos del archivo conjunto_de_datos_tvivienda_enape_2021 se cargó a la lista 'dataframes'

In [44]:
diccionarios_de_datos[0]

,ï»¿nombre_campo,longitud,tipo,nemÃ³nico,catÃ¡logo,rango_claves
0,NÃºmero de folio,8,C,folio,NaN,00000002...00022718
1,NÃºmero de renglÃ³n,2,C,n_ren,NaN,01...13
2,Pregunta SEXO Â¿(NOMBRE) es...?,1,C,sexo,sexo,"1,2"
3,Pregunta EDAD Â¿CuÃ¡ntos aÃ±os cumplidos tiene...,2,C,edad,NaN,00...29
4,Pregunta P3.1 Â¿QuÃ© es usted de (NOMBRE)?,2,C,p3_1,p3_1,01...10
...,...,...,...,...,...,...
96,Nivel y grado de escolaridad del aÃ±o escolar ...,1,C,grado_a,grado_a,"1...6,9"
97,Nivel y grado de escolaridad del aÃ±o escolar ...,2,C,nivel_b,nivel_b,01...12
98,Nivel y grado de escolaridad del aÃ±o escolar ...,1,C,grado_b,grado_b,"1...6,9"
99,Escolaridad alcanzada,1,C,esc,esc,0...6
100,Factor de expansiÃ³n,5,C,factor,NaN,12...34401

In [45]:
dataframes[0].head(3)

,FOLIO,N_REN,SEXO,EDAD,P3_1,P3_2,PA3_1,PA3_2,PA3_3_NIVEL,PA3_3_BIMESTRE,...,PD3_1,PD3_2,PD3_3,ENT,NIVEL_A,GRADO_A,NIVEL_B,GRADO_B,ESC,FACTOR
0,2,1,1,13,2,NaN,1.0,1.0,3.0,NaN,...,NaN,NaN,NaN,24,3.0,6.0,3.0,1.0,2.0,809
1,2,2,2,19,2,NaN,1.0,1.0,9.0,NaN,...,7.0,NaN,NaN,24,9.0,1.0,8.0,2.0,5.0,809
2,7,1,2,8,2,NaN,1.0,1.0,3.0,NaN,...,NaN,NaN,NaN,22,3.0,2.0,2.0,3.0,2.0,722

### Filtro de Columnas

In [54]:
df=dataframes[0]

In [46]:
dictionary_df=diccionarios_de_datos[0]
dictionary_df

,ï»¿nombre_campo,longitud,tipo,nemÃ³nico,catÃ¡logo,rango_claves
0,NÃºmero de folio,8,C,folio,NaN,00000002...00022718
1,NÃºmero de renglÃ³n,2,C,n_ren,NaN,01...13
2,Pregunta SEXO Â¿(NOMBRE) es...?,1,C,sexo,sexo,"1,2"
3,Pregunta EDAD Â¿CuÃ¡ntos aÃ±os cumplidos tiene...,2,C,edad,NaN,00...29
4,Pregunta P3.1 Â¿QuÃ© es usted de (NOMBRE)?,2,C,p3_1,p3_1,01...10
...,...,...,...,...,...,...
96,Nivel y grado de escolaridad del aÃ±o escolar ...,1,C,grado_a,grado_a,"1...6,9"
97,Nivel y grado de escolaridad del aÃ±o escolar ...,2,C,nivel_b,nivel_b,01...12
98,Nivel y grado de escolaridad del aÃ±o escolar ...,1,C,grado_b,grado_b,"1...6,9"
99,Escolaridad alcanzada,1,C,esc,esc,0...6
100,Factor de expansiÃ³n,5,C,factor,NaN,12...34401

In [47]:
dictionary_df.columns

Index(['ï»¿nombre_campo', 'longitud', 'tipo', 'nemÃ³nico', 'catÃ¡logo',
       'rango_claves'],
      dtype='object')

In [52]:
rename_columns={
    'ï»¿nombre_campo':'nombre_campo',
    'nemÃ³nico':'nemonico',
    'catÃ¡logo':'catalogo'
}
dictionary_df=dictionary_df.rename(columns=rename_columns)

In [55]:
rename_dictionary={}
for index,row in dictionary_df.iterrows():
    old_column_name=row['nemonico']
    new_column_name=row['nombre_campo']
    rename_dictionary[old_column_name] = new_column_name

df=df.rename(columns=rename_dictionary)
df

,FOLIO,N_REN,SEXO,EDAD,P3_1,P3_2,PA3_1,PA3_2,PA3_3_NIVEL,PA3_3_BIMESTRE,...,PD3_1,PD3_2,PD3_3,ENT,NIVEL_A,GRADO_A,NIVEL_B,GRADO_B,ESC,FACTOR
0,2,1,1,13,2,NaN,1.0,1.0,3.0,NaN,...,NaN,NaN,NaN,24,3.0,6.0,3.0,1.0,2.0,809
1,2,2,2,19,2,NaN,1.0,1.0,9.0,NaN,...,7.0,NaN,NaN,24,9.0,1.0,8.0,2.0,5.0,809
2,7,1,2,8,2,NaN,1.0,1.0,3.0,NaN,...,NaN,NaN,NaN,22,3.0,2.0,2.0,3.0,2.0,722
3,7,2,1,26,7,NaN,2.0,NaN,NaN,NaN,...,1.0,40.0,8.0,22,NaN,NaN,NaN,NaN,4.0,722
4,9,1,1,27,1,NaN,1.0,2.0,9.0,NaN,...,1.0,25.0,8.0,26,9.0,1.0,8.0,2.0,5.0,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32338,22717,3,2,23,9,NaN,1.0,1.0,9.0,NaN,...,7.0,NaN,NaN,29,9.0,3.0,8.0,4.0,5.0,365
32339,22717,4,1,25,9,NaN,1.0,1.0,9.0,NaN,...,7.0,NaN,NaN,29,9.0,3.0,8.0,4.0,5.0,365
32340,22717,2,2,22,10,NaN,1.0,1.0,9.0,NaN,...,7.0,NaN,NaN,29,9.0,3.0,8.0,4.0,5.0,365
32341,22718,1,1,11,1,NaN,1.0,2.0,3.0,NaN,...,NaN,NaN,NaN,28,3.0,5.0,2.0,6.0,2.0,2292
32342,22718,2,1,24,1,NaN,2.0,NaN,NaN,NaN,...,1.0,40.0,3.0,28,NaN,NaN,NaN,NaN,4.0,2292

# Encuesta Nacional de Ocupación y Empleo

In [ ]:
ENCUESTA_NACIONAL_DE_OCUPACION_Y_EMPLEO_PATH="./ENCUESTA NACIONAL DE OCUPACION Y EMPLEO"
work_directory=ENCUESTA_NACIONAL_DE_OCUPACION_Y_EMPLEO_PATH

# Reporte de Indicadores Educativos

In [ ]:
REPORTE_DE_INDICADORES_EDUCATIVOS_PATH="./REPORTE DE INDICADORES EDUCATIVOS"
work_directory=REPORTE_DE_INDICADORES_EDUCATIVOS_PATH